@* address Template File *@
@import scala.reflect.{ClassTag,classTag}
@import helper._

@import elements._
@import forms.ClassTagsHelper._

@(f: Form[_], prefixKey: String = "")(implicit messages: Messages, request: RequestHeader)

@inputHidden(classTagField(classTag[CountrysideAddress], prefixKey))
@inputHidden(f(prefixKey + "idOpt"))
@inputText(f(prefixKey + "country"), '_label -> messages("country"))
@inputText(f(prefixKey + "state"), '_label -> messages("state"))
@inputText(f(prefixKey + "county"), '_label -> messages("county"))
@inputText(f(prefixKey + "houseNumber"), '_label -> messages("houseNumber"))
@locationFields(f, prefixKey + "location.")
