@* address Template File *@
@import scala.reflect.{ClassTag,classTag}
@import helper._
@import elements._

@import forms.ClassTagsHelper._

@(f: Form[_], prefixKey: String = "")(implicit messages: Messages, request: RequestHeader)

@inputHidden(classTagField(classTag[UrbanAddress], prefixKey))
@inputHidden(f(prefixKey + "idOpt"))
@inputText(f(prefixKey + "country"), '_label -> messages("country"))
@inputText(f(prefixKey + "state"), '_label -> messages("state"))
@inputText(f(prefixKey + "city"), '_label -> messages("city"))
@inputText(f(prefixKey + "street"), '_label -> messages("street"))
@inputText(f(prefixKey + "houseNumber"), '_label -> messages("houseNumber"))
@inputText(f(prefixKey + "flatNumber"), '_label -> messages("flatNumber"))
@locationFields(f, prefixKey + "location.")