@* addressesPage Template File *@
@import scala.reflect.{ClassTag,classTag}
@import forms._
@import database.DBSchema.AddressDAO
@import controllers.{AddressController => AC}
@import helper._
@import views.FormRenderersHelper._
@import addresses.renderAddress
@import addresses.formswitcher
@import elements.script

@(addresses: Iterable[AddressDAO],
  addressProps: AC.AddressProps,
  msgOpt: Option[String],
  urlToRedirectOpt: Option[String])(implicit
  messages: Messages,
  request: RequestHeader,
  renderer: TraitFormRenderer[Address])

@addressesBlock = {
  @if(!addresses.isEmpty) {
	<div>
      <h1>@messages("addresses.addresses")</h1>
	  <table>
	  	<tr>
	  	  <th>Id</th>
	  	  <th>@messages("addresses.address")</th>
	  	</tr>
	  	@for(a <- addresses) {
	   	  <tr>
	   	    <th>
	          <a href="@routes.AddressController.addressesWithOneSelected(a.id)">@a.id</a>
	        </th>
	        <th>
	          @renderAddress(a.address)
	        </th>
	      </tr>
	    }
	  </table>
	</div>
  }
}

@editAddressBlock = {
  @addressProps match {
    case AC.AddressNotFound(addressId) => {
      <div>
        <h1>@messages("addresses.addressNotFound", addressId)</h1>
        </div>
    }
	case AC.EditAddress(addressId, addressForm) => {
	  <div>
        <h1>@messages("addresses.addressOfId", addressId)</h1>
	    @form(action = routes.AddressController.addressDelete(addressId)) {
	      @CSRF.formField
	      <input type="submit" value="@messages("delete")"/> 
	    }
	    @form(action = routes.AddressController.addressPost()) {
	      @CSRF.formField
	      @addressForm.renderFields()
	      <input type="submit" value="@messages("submit")">
	    }
	    </div>
	}
	case _ => {}
  }
}

@newAddressBlock = {
  @addressProps match {
  	case AC.NewAddress(addressForm) => {@newAddressBlockHelp(Some(addressForm))}
  	case _ => {@newAddressBlockHelp(None)}
  }
}

@newAddressBlockHelp(addressFormOpt: Option[TraitForm[Address]]) = {
  <div>
	<h1>@messages("addresses.addNewAddress")</h1>
	@form(action = routes.AddressController.addressPost()) {
	  @CSRF.formField
	  @addressFormOpt match {
	    case None => {
	      @formswitcher.renderRadios(switcherId)
	      @formswitcher.renderDivsWithFields(switcherId)
	    }
	    case Some(addressForm) => {
	      @formswitcher.renderRadios(switcherId, selected = addressForm.tag)
	      @formswitcher.renderDivsWithFields(switcherId, filledForms = Seq(addressForm))
	    }
      }
      <input type="submit" value="@messages("submit")">
	}
  </div>
}

@switcherId = @{"newAddress"}

@pagetemplate.page(messages("nav.addressesExample")) {
  @addressesBlock
  @editAddressBlock
  @newAddressBlock
} {
    @script(views.js.pagetemplate.msgAndRedirection(msgOpt, urlToRedirectOpt))
    @script(views.js.traitformswitcher.traitFormSwitcher(switcherId))
}
