@* address Template File *@
@import forms.AddressForms._
@import helper._

@(f: Form[UrbanAddress], idOpt: Option[Long] = None)(implicit messages: Messages, request: RequestHeader)

  @form(action = routes.AddressController.urbanAddressPost()) {
	@CSRF.formField
	@hiddenId(idOpt)
    @inputText(f("country"))
    @inputText(f("state"))
    @inputText(f("city"))
    @inputText(f("street"))
    @inputText(f("houseNumber"))
    @inputText(f("flatNumber"))
    @inputText(f("location.latitude"), '_label -> messages("latitude"))
    @inputText(f("location.longitude"), '_label -> messages("longitude"))
    @formErrors(f)
	<input type="submit" value=@messages("submit")>
  }
