@* usersPage Template File *@
@import scala.reflect.{ClassTag,classTag}
@import helper._

@import models._
@import forms._
@import database.DBSchema.AddressDAO
@import controllers.{AddressController => AC}

@import views.html.addresses.renderAddress
@import elements.script

@(userDataForm: Form[UserData],
  userDataOpt: Option[UserData] = None)(implicit
  messages: Messages,
  session: play.api.mvc.Session,
  request: RequestHeader)

@userDataBlock = {
  @userDataOpt match {
  	case None => {}
    case Some(userData) => {
  	  <div>
        <h1>@messages("user.data")</h1>
        <table>
          <tr>
            <th>@messages("username")</th><td>@userData.username</td>
          </tr>
          <tr>
            <th>@messages("emails")</th>
            <td>
              <ul>
              @for(email <- userData.emails) {
                <li>@email</li>
              }
              </ul>
            </td>
          </tr>
          <tr>
            <th>@messages("firstName")</th><td>@userData.firstName</td>
          </tr>
          <tr>
            <th>@messages("lastName")</th><td>@userData.lastName</td>
          </tr>
          <tr>
            <th>@messages("sex")</th><td>@messages(userData.sex.toString)</td>
          </tr>
          <tr>
            <th>@messages("dateOfBirth")</th><td>@userData.dateOfBirth</td>
          </tr>
          <tr>
            <th>@messages("phoneNumber")</th><td>@userData.phoneNumber</td>
          </tr>
          <tr>
            <th>@messages("address")</th><td>@renderAddress(userData.address)</td>
          </tr>
          <tr>
            <th>@messages("aboutMe")</th><td>@Html(userData.aboutMe)</td>
          </tr>
        </table>
	  </div>
	}
  }
}

@formBlock = {
  <div>
	<h1>@messages("user.form")</h1>
	@form(action = routes.UserController.userPost(), 'id -> "userForm") {
	  <div id="userFormDivsContainer">
  	    <div>
	      @CSRF.formField
	      @inputText(userDataForm("username"))
	      @inputPassword(userDataForm("password"))
	      @repeatWithIndex(userDataForm("emails"), min = 2) { (emailField, no) =>
    	    @inputText(emailField, '_label -> messages("email.number", no + 1))
          }
        </div>
        <div>
          @inputText(userDataForm("firstName"))
	      @inputText(userDataForm("lastName"))
	      @inputRadioGroup(userDataForm("sex"), options = List(Sex.MALE.toString -> messages("male"), Sex.FEMALE.toString -> messages("female")))
	      @inputDate(userDataForm("dateOfBirth"), '_showConstraints -> false)
        </div>
        <div>
	      @inputText(userDataForm("phoneNumber"))
	      @addresses.addressFields(userDataForm, "address.", messages("address"))
        </div>
        <div>
          @textarea(userDataForm("aboutMe"), 'rows -> 20, 'cols -> 60)
          @checkbox(userDataForm("confirmation"), '_help -> messages("constraint.required"), '_showConstraints -> false)
          @checkbox(userDataForm("subscription"), '_showConstraints -> false)     
        </div>
      </div>
      <div>
        <input type="submit" value="@messages("submit")">
      </div>
	}
  </div>
}

@tempBlock = {
  <div>
    <h1>TempBlock</h1>
    @for(e <- userDataForm.errors) {
	  @e.toString()  :  @e.format
	  <br/>
	}
	<br/>
	@for(e <- userDataForm.constraints) {
	  @e.toString()
	  <br/>
	}
  </div>
}

@pagetemplate.page(messages("nav.usersExample")) {
  @formBlock
  @userDataBlock
  @*@tempBlock*@
} {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/users.css")">
} {
  @script(views.js.caseformsswitcher.caseFormsSwitcher(userDataForm, "address."))
}