@* traitFormSwitcher Template File *@
@import scala.reflect.{ClassTag,classTag}
@import forms._
@import forms.Forms._
@import views.FormRenderersHelper._
@import views.traitformswitcher.TraitFormSwitcherHelper._
@import helper._

@renderRadios[T](switcherId: String, prefixKey: String, tagsAndLabelsMsgs: Seq[Tuple2[ClassTag[_ <: T], String]], selected: ClassTag[_] = classTag[Nothing])(implicit messages: Messages) = {
  @for((tag, labelMsgName) <- tagsAndLabelsMsgs) {
    @radioDiv(tag, switcherId, prefixKey, messages(labelMsgName), selected)
  }
}

@renderDivsWithFields[T](switcherId: String, prefixKey: String, defaultForms: Map[ClassTag[_ <: T], TraitForm[T]], filledForms: Seq[TraitForm[T]])(implicit messages: Messages, request: RequestHeader, renderer: TraitFormRenderer[T]) = {
  @for(traitForm <- (defaultForms ++ keysAndVals(filledForms)).values) {
    @divWithFields(switcherId, prefixKey, traitForm)
  }
}

@radioDiv[T](tag: ClassTag[T], switcherId: String, prefixKey: String, label: String, selected: ClassTag[_]) = {
  <div>
    <input class="@radioClass(switcherId, prefixKey)" type="radio" value="@divId(switcherId, prefixKey, tag)" @if(tag == selected) {checked}>
    <label> @label</label>
  </div>
}

@divWithFields[T](switcherId: String, prefixKey: String, traitForm: TraitForm[T])(implicit messages: Messages, renderer: TraitFormRenderer[T]) = {
  <div name="@divName(switcherId, prefixKey)" id="@divId(switcherId, prefixKey, traitForm.tag)" hidden>
    @traitForm.renderFields()
  </div>
}